<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1 class="title">Angular</h1>
    <hr>
    <div class="avatar-info">
      <img class="avatar" src="../assets/image 2.png" alt="">
      <div class="info">
        <p class="name">Sierra Ferguson</p>
        <p class="email">s.ferguson@gmail.com</p>
      </div>
    </div>
    <ul class="menu">
      <li class="punkt_menu" *ngFor="let item of menu let i = index">
        <a routerLink="/{{menuLink(item, 1)}}/">
          <img src="../assets/icon{{i+1}}.png" alt="">
          <p>{{nameOfTheLink(item)}}</p>
        </a>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>